* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;;
    background-color: rgb(232, 242, 255);
    width: 100%;
}

#toggle-timer {
    display: none;
}

header {
    background-color: #24384b;
    padding: 1rem 0.5rem;
    border-bottom: 1rem solid rgb(47, 77, 102);
}

.main-container {
    max-width: 1280px;
    margin: 0 auto;
}

#title {
    color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0;
}

#sub-title {
    color: rgb(179, 179, 179)
}

#settings {
    background-color: #A7C8E7;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.feature {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

.feature-btn {
    color: rgb(255, 255, 255);
    background-color: #428bca;
    border: 0.1rem solid #357ebd;
}

#results-container {
    text-align: center;
}

#results-display {
    display: inline-block;
    padding: 1rem;
    background-color: rgb(192, 192, 230);
    text-align: center;
    margin: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
}

#results-heading {
    color: rgb(255, 255, 255);
    background-color: #3c4d5c;
    padding: 0.5rem;
}

th {
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: #3c4d5c;
}

td {
    text-align: center;
    background-color: #0cc7d5;
}

.type {
    font-size: 1.5rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
}

#type-div {
    background-color: none;
    border-radius: 0.3rem;
    margin: 1rem;
    margin-top: 3rem;
}

#type-box {
    max-width: 50%;
}

#timer {
    color: rgb(255, 255, 255);
    background-color: #3c4d5c;
    font-size: 1.3rem;
    border: 1px solid rgb(30, 148, 156);
    border-radius: 0.4rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

#display-box {
    border: 1px solid rgb(100, 100, 189);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    line-height: 2.5rem;
}

#input-div {
    background-color: #A7C8E7;
    padding: 0.5rem;
    border-radius: 0.4rem;
    text-align: center;
}

#reset-btn {
    color: rgb(255, 255, 255);
    background-color: #428bca;
    border: 0.1rem solid #357ebd;
    padding: 0.7rem;
}

.focus {
    background-color: rgb(214, 214, 214);
}

.typo {
    background-color: rgb(255, 0, 0);
}

.correct {
    color: rgb(0, 192, 0);
}

.incorrect {
    color: rgb(192, 0, 0);
}